<div class="login-container">
  <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
      />
      <div
        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')"
        class="error-message"
      >
        Email is required.
      </div>
      <div
        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('pattern')"
        class="error-message"
      >
        Please enter a valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
      <div
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')"
        class="error-message"
      >
        Password is required.
      </div>
      <div
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')"
        class="error-message"
      >
        Password must be at least 8 characters long.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <div class="login-message" *ngIf="loginMessage">
      {{ loginMessage }}
    </div>
</div>
